/* 
====================
display demo styles
====================
*/

/*** by default, the div element is block ***/
div {
  background-color: darksalmon;
}

/*** by default, the span element is inline ***/
span {
  background-color: khaki;
}

/*** by default, the img element is inline ***/

/* (1.) uncomment the following rule */
/* span {
  display: block;
} */

/* (2.) uncomment the following rule */
/* img {
  display: block;
} */

/* (3.) uncomment the following rule */
/* div {
  display: inline;
} */

/* (4.) uncomment the following rule */
/* div {
  display: inline-block;
} */

/* 
==========================
display: flex demo styles
==========================
*/
.flex-container {
  background-color: mediumseagreen;
  display: flex;
}

.flex-container .item {
  background-color: lightseagreen;
  padding: 10px;
  text-align: center;
}

/* (1.) uncomment the following rule */
/* .flex-container {
  justify-content: flex-start;
} */

/* (2.) uncomment the following rule */
/* .flex-container {
  justify-content: flex-end;
} */

/* (3.) uncomment the following rule */
/* .flex-container {
  justify-content: center;
} */

/* (4.) uncomment the following rule */
/* .flex-container {
  justify-content: space-around;
} */

/* (5.) uncomment the following rule */
/* .flex-container {
  justify-content: space-between;
} */

/* (6.) uncomment the following rule */
/* .flex-container {
  justify-content: space-evenly;
} */

/* (7.) uncomment the following rule */
/* .flex-container {
  align-items: stretch;
} */

/* (8.) uncomment the following rule */
/* .flex-container {
  align-items: flex-start;
} */

/* (9.) uncomment the following rule */
/* .flex-container {
  align-items: flex-end;
} */

/* (10.) uncomment the following rule */
/* .flex-container {
  align-items: center;
} */

/* (11.) uncomment the following rule */
/* .flex-container {
  flex-direction: row;
} */

/* (12.) uncomment the following rule */
/* .flex-container {
  flex-direction: column;
} */

/* (13.) uncomment the following rule */
/* .flex-container {
  flex-direction: row-reverse;
} */

/* (14.) uncomment the following rule */
/* .flex-container {
  flex-direction: column-reverse;
} */

/* 
==================
additional styles
==================
*/
* {
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
}

.outline * {
  border: 1px solid black;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  margin-left: 20px;
}
